.row {
    background-color: grey;
}

.small-box {
    padding: 10%;
    float: left;
    background: white;
}

.btn-primary {
    background-color: red;
    color: white;
}

.btn-secondary {
    background-color: lightblue;
}

#display {
    border-style: dashed;
    width: 100%;
    padding: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.container {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    width: 100%;
}