.row {
    background-color: grey;
}

.small-box {
    padding: 10%;
    float: left;
    background: white;
}

.btn-primary {
    background-color: red;
    color: white;
}

.btn-secondary {
    background-color: lightblue;
}

#display {
    border-style: dashed;
}